@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.button-small {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
}

.banner {
  height: 485px;
  background-color: #314850;
  background-image: url("../img/banner/banner-background.jpg");
	background-repeat: no-repeat;
}

/* Advantages */
.sedona-title {
  color: #000000;
  background-color: #ffffff;
}

.sedona-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.white-text {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-sublist li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-sublist li:nth-child(even) {
  background-color: #ffffff;
}

.advantages-list li:nth-child(odd):not(:first-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(even):not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.2);;
}

.black-text {
  color: #000000;
}

.black-text p {
  color: #333333;
}

.search-title {
  color: #000000;
  background-color: #ffffff;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Newsletter */
.newsletter {
  text-align: center;
}

.newsletter-main {
  color: #ffffff;
  background-color: #93adba;
  background-image: url("../img/newsletter-background.jpg");
	background-repeat: no-repeat;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.button-medium {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue {
  color: #ffffff;
  background-color: #83B3D3;
}

.footer-social-list a {
  color: #83B3D3;
  text-decoration: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.inner-header {
  color: #ffffff;
  background-color: #799abd;
  background-image: url("../img/catalog-background-1.jpg");
	background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
	font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link {
	color: inherit;
}

/* Filter */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
}

/* Elements-list */
.search-results-title {
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}

.button-white {
  color:#000000;
  text-decoration: none;
}

.button-white-active {
  color:#000000;
}

.element-card-link {
  text-decoration: none;
}

.element-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.element-card-rating-text {
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

/* Pagination */
.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.newsletter-inner .title {
  color:#000000;
}
