@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 310px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-logo {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.button-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
}

.main-container {
  flex-grow: 1;
}

.banner {
  height: 485px;
  background-color: #314850;
  background-image: url("../img/banner/banner-background.jpg");
  background-repeat: no-repeat;
}

.banner-container {
  width: 458px;
  margin: 0 auto;
}

/* Advantages */
.sedona-title {
  color: #000000;
  background-color: #ffffff;
}

.sedona-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;  
}

.advantages-item-main {
	display: flex;
	flex-wrap: wrap;
  background-color: #81b3d2;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description-wrapper {
  width: 400px;
  min-height: 384px;
}

.advantages-image-wrapper {
  width: 800px;
  min-height: 384px;
}

.advantages-image {
  display: block;
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.advantages-sublist-item {
  width: 400px;
  min-height: 384px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.white-text {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-sublist li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-sublist li:nth-child(even) {
  background-color: #ffffff;
}

.advantages-list li:nth-child(odd):not(:first-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(even):not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.2);
}

.black-text {
  color: #000000;
}

.black-text p {
  color: #333333;
}

.search-hotel {
  width: 720px;
  margin: 0 auto;
}

.search-title {
  color: #000000;
  background-color: #ffffff;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.button-big {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Newsletter */
.newsletter {
  text-align: center;
}

.newsletter-main {
  color: #ffffff;
  background-color: #93adba;
  background-image: url("../img/newsletter-background.jpg");
  background-repeat: no-repeat;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.button-medium {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue {
  color: #ffffff;
  background-color: #83B3D3;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;  
  /*width: 1130px;*/
  margin: 0 auto;
}

.footer-social-list a {
  color: #83B3D3;
  text-decoration: none;
}

.footer-phone {
  width: 720px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.inner-header {
  color: #ffffff;
  background-color: #799abd;
  background-image: url("../img/catalog-background-1.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

/* Filter */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
}

/* Elements-list */
.search-results-title {
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}

.button-white {
  color:#000000;
  text-decoration: none;
}

.button-white-active {
  color:#000000;
}

.element-card-link {
  text-decoration: none;
}

.element-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.element-card-rating-text {
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

/* Pagination */
.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.newsletter-inner .title {
  color:#000000;
}