.banner {
  height: 485px;
  background-color: #314850;
  background-image: url("../img/banner/banner-background.jpg");
	background-repeat: no-repeat;
}

.newsletter-main {
  color: #ffffff;
  background-color: #93adba;
  background-image: url("../img/newsletter-background.jpg");
	background-repeat: no-repeat;
}

.inner-header {
  color: #ffffff;
  background-color: #799abd;
  background-image: url("../img/catalog-background-1.jpg");
	background-repeat: no-repeat;
}
